## Introduction to data structures in pandas

We’ll start with a quick, non-comprehensive overview of the fundamental data structures in pandas. All examples on this page are in Python 3. The content and examples were adopted from Intro do

In [4]:
# Motivational Quote Generator
print("Being an adult means basically Googling stuff")

Being an adult means basically Googling stuff

NumPy (Numerical Python Library) is the fundamental package for numeric computing with Python. This is also the foundation that Pandas is built on which is a high performance data-centric package that we are going to learn more about in this workshop. 

To get started, import NumPy and load pandas into your namespace:

In [5]:
import numpy as np
import pandas as pd

## Series
**Series** is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, etc.). The axis labels are collectively referred to as the index. The basic method to create a Series is to call:

s = pd.Series(data, index=index)

data can be many different things:
- an ndarray
- a Python dict
- a scalar value (like 5)

In [7]:
# From ndarray
#If data is an ndarray, index must be the same length as data. 
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s

a    0.335538
b   -0.636859
c    0.347799
d    0.140744
e    0.320558
dtype: float64

In [8]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [9]:
#If no index is passed, one will be created having values [0, ..., len(data) - 1].
pd.Series(np.random.randn(5))

0    0.471709
1    0.411704
2    1.632585
3    0.174421
4   -0.825487
dtype: float64

**Note:** pandas supports non-unique index values. If an operation that does not support duplicate index values is attempted, an exception will be raised at that time. The reason for being lazy is nearly all performance-based (there are many instances in computations, like parts of GroupBy, where the index is not used).

A **dictionary** is an unordered and mutable Python container that stores mappings of unique keys to values.

In [10]:
#From dict
#Series can be instantiated from dicts:
d = {'b' : 1, 'a' : 0, 'c' : 2}
pd.Series(d)

b    1
a    0
c    2
dtype: int64

**Note:** When the data is a dict, and an index is not passed, the Series index will be ordered by the dict’s insertion order, if you’re using Python version >= 3.6 and Pandas version >= 0.23.
If you’re using Python < 3.6 or Pandas < 0.23, and an index is not passed, the Series index will be the lexically ordered list of dict keys.

In the example above, if you were on a Python version lower than 3.6 or a Pandas version lower than 0.23, the Series would be ordered by the lexical order of the dict keys (i.e. ['a', 'b', 'c'] rather than ['b', 'a', 'c']).

In [11]:
#If an index is passed, the values in data corresponding to the labels in the index will be pulled out.
d = {'a' : 0., 'b' : 1., 'c' : 2.}
pd.Series(d)

a    0.0
b    1.0
c    2.0
dtype: float64

In [12]:
pd.Series(d, index=['b', 'c', 'd', 'a'])

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

**Note:** NaN (not a number) is the standard missing data marker used in pandas.

In [17]:
# From scalar value
#If data is a scalar value, an index must be provided. 
# The value will be repeated to match the length of index.
pd.Series(4., index=['a', 'b', 'c', 'd', 'e'])

a    4.0
b    4.0
c    4.0
d    4.0
e    4.0
dtype: float64

## Series is ndarray-like

Series acts very similarly to a ndarray, and is a valid argument to most NumPy functions. However, operations such as slicing will also slice the index.

In [18]:
s[0]

0.335537570971309

In [22]:
s[:3] # is equivalent to s[0:3]

a    0.335538
b   -0.636859
c    0.347799
dtype: float64

In [23]:
s[s > s.median()]

a    0.335538
c    0.347799
dtype: float64

In [24]:
s[[4, 3, 1]]

e    0.320558
d    0.140744
b   -0.636859
dtype: float64

In [25]:
# Calculate the exponential of all elements
np.exp(s)

a    1.398692
b    0.528951
c    1.415948
d    1.151130
e    1.377896
dtype: float64

## Series is dict-like
A Series is like a fixed-size dict in that you can get and set values by index label.

In [26]:
# get a value by index label
s['a']

0.335537570971309

In [27]:
# set a value by index label
s['e'] = 12.

In [28]:
# search index label
'e' in s

True

In [29]:
'f' in s

False

In [30]:
# If a label is not contained, an exception is raised
s['f']

KeyError: 'f'

In [32]:
# Using the get method, a missing label will return None
s.get('f')

In [33]:
# specified default
s.get('f', np.nan)

nan

### Vectorized operations and label alignment with Series
When working with raw NumPy arrays, looping through value-by-value is usually not necessary. The same is true when working with Series in pandas. Series can also be passed into most NumPy methods expecting an ndarray.

In [34]:
s + s

a     0.671075
b    -1.273719
c     0.695599
d     0.281489
e    24.000000
dtype: float64

In [35]:
s * 2

a     0.671075
b    -1.273719
c     0.695599
d     0.281489
e    24.000000
dtype: float64

In [36]:
np.exp(s)

a         1.398692
b         0.528951
c         1.415948
d         1.151130
e    162754.791419
dtype: float64

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without giving consideration to whether the Series involved have the same labels.

In [43]:
sum_ser = s[1:] + s[:-1]
sum_ser

a         NaN
b   -1.273719
c    0.695599
d    0.281489
e         NaN
dtype: float64

The result of an operation between **unaligned Series** will have the **union** of the indexes involved. If a label is not found in one Series or the other, the result will be marked as missing NaN. Being able to write code without doing any explicit data alignment grants immense freedom and flexibility in interactive data analysis and research. The integrated data alignment features of the pandas data structures set pandas apart from the majority of related tools for working with labeled data.

**Note:** Having an index label, though the data is missing, is typically important information as part of a computation. You of course have the option of dropping labels with missing data via the dropna function.

In [42]:
sum_ser.dropna()

b   -1.273719
c    0.695599
d    0.281489
dtype: float64

#### Name attribute
Series can also have a name attribute.

In [45]:
s = pd.Series(np.random.randn(5), name='something')
s

0    0.007606
1   -0.120834
2   -0.558021
3    0.219697
4    2.038646
Name: something, dtype: float64

In [46]:
 s.name

'something'

You can rename a Series with the pandas.Series.rename() method.

In [47]:
s2 = s.rename("different")
s2.name

'different'

**Note:** that s and s2 refer to different objects.

In [48]:
s.name

'something'

## DataFrame
DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.

### From dict of Series or dicts

In [49]:
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']), 'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

The resulting index will be the **union** of the indexes of the various Series. If there are any nested dicts, these will first be converted to Series. If no columns are passed, the columns will be the ordered list of dict keys.

In [58]:
# create a dataframe from dict d
df = pd.DataFrame(d)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [53]:
pd.DataFrame(d, index=['d', 'b', 'a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [57]:
pd.DataFrame(d, index=['d', 'b', 'a'], columns=['two', 'three'])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

The row and column labels can be accessed respectively by accessing the index and columns attributes:

In [60]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [61]:
df.columns

Index(['one', 'two'], dtype='object')

### From dict of ndarrays / lists
The ndarrays must all be the same length. If an index is passed, it must clearly also be the same length as the arrays. If no index is passed, the result will be range(n), where n is the array length.

In [62]:
d = {'one' : [1., 2., 3., 4.],'two' : [4., 3., 2., 1.]}

In [63]:
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [64]:
# passing the index
pd.DataFrame(d, index=['a', 'b', 'c', 'd'])

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

### From a list of dicts

In [68]:
# union of index
data2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20.}]
pd.DataFrame(data2)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [73]:
df2=pd.DataFrame(data2, index=['first', 'second'])
df2

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [76]:
df2=pd.DataFrame(data2, columns=['a', 'b'])
df2

   a   b
0  1   2
1  5  10

### Alternate Constructors
DataFrame.from_dict takes a dict of dicts or a dict of array-like sequences and returns a DataFrame. It operates like the DataFrame constructor except for the orient parameter which is 'columns' by default, but which can be set to 'index' in order to use the dict keys as row labels.

In [78]:
pd.DataFrame.from_dict(dict([('A', [1, 2, 3]), ('B', [4, 5, 6])]))

   A  B
0  1  4
1  2  5
2  3  6

If you pass orient='index', the keys will be the row labels. In this case, you can also pass the desired column names:

In [79]:
pd.DataFrame.from_dict(dict([('A', [1, 2, 3]), ('B', [4, 5, 6])]),
                         orient='index', columns=['one', 'two', 'three'])

   one  two  three
A    1    2      3
B    4    5      6

### Column selection, addition, deletion

You can treat a DataFrame semantically like a dict of like-indexed Series objects. Getting, setting, and deleting columns works with the same syntax as the analogous dict operations:

In [96]:
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']), 'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [97]:
# select a column
df['one']

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [98]:
# add a new column
df['three'] = df['one'] * df['two']

In [99]:
df['flag'] = df['one'] > 2
df

   one  two  three   flag
a  1.0  1.0    1.0  False
b  2.0  2.0    4.0  False
c  3.0  3.0    9.0   True
d  NaN  4.0    NaN  False

In [100]:
# a column can be deleted or popped
del df['two']

In [101]:
df

   one  three   flag
a  1.0    1.0  False
b  2.0    4.0  False
c  3.0    9.0   True
d  NaN    NaN  False

In [102]:
df.pop('three')

a    1.0
b    4.0
c    9.0
d    NaN
Name: three, dtype: float64

In [103]:
df

   one   flag
a  1.0  False
b  2.0  False
c  3.0   True
d  NaN  False

What is the difference between DataFrame.pop(item) and del?

In [106]:
# When inserting a scalar value, it will naturally be propagated to fill the column:
df['foo'] = 'bar'
df

   one   flag  foo
a  1.0  False  bar
b  2.0  False  bar
c  3.0   True  bar
d  NaN  False  bar

When inserting a Series that does not have the same index as the DataFrame, it will be conformed to the DataFrame’s index:

In [107]:
df['one_trunc'] = df['one'][:2]
df

   one   flag  foo  one_trunc
a  1.0  False  bar        1.0
b  2.0  False  bar        2.0
c  3.0   True  bar        NaN
d  NaN  False  bar        NaN

By default, columns get inserted at the end. The insert function is available to insert at a particular location in the columns:

In [110]:
# DataFrame.insert(loc, column, value, allow_duplicates=False)
df.insert(1, 'bar', df['one'])
df

   one  bar   flag  foo  one_trunc
a  1.0  1.0  False  bar        1.0
b  2.0  2.0  False  bar        2.0
c  3.0  3.0   True  bar        NaN
d  NaN  NaN  False  bar        NaN

In [114]:
df.insert(0, "col1", [100, 100], allow_duplicates=True)

ValueError: Length of values does not match length of index

In [113]:
df

   col1  one  bar   flag  foo  one_trunc
a   100  1.0  1.0  False  bar        1.0
b   100  2.0  2.0  False  bar        2.0
c   100  3.0  3.0   True  bar        NaN
d   100  NaN  NaN  False  bar        NaN

In [126]:
# load a sample dataset from sklearn
from sklearn.datasets import load_iris
iris = load_iris()
df3 = pd.DataFrame(iris.data, columns=iris.feature_names)

In [129]:
df3.head(10)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
5                5.4               3.9                1.7               0.4
6                4.6               3.4                1.4               0.3
7                5.0               3.4                1.5               0.2
8                4.4               2.9                1.4               0.2
9                4.9               3.1                1.5               0.1

In [133]:
df3.assign(sepal_ratio = df3['sepal width (cm)'] / df3['sepal length (cm)']).head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),sepal_ratio
0,5.1,3.5,1.4,0.2,0.686275
1,4.9,3.0,1.4,0.2,0.612245
2,4.7,3.2,1.3,0.2,0.680851
3,4.6,3.1,1.5,0.2,0.673913
4,5.0,3.6,1.4,0.2,0.720000

**Note:** assign always returns a copy of the data, leaving the original DataFrame untouched.

In [154]:
df3.head(10)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
5                5.4               3.9                1.7               0.4
6                4.6               3.4                1.4               0.3
7                5.0               3.4                1.5               0.2
8                4.4               2.9                1.4               0.2
9                4.9               3.1                1.5               0.1

In the example above, we inserted a precomputed value. We can also pass in a function of one argument to be evaluated on the DataFrame being assigned to.

In [165]:
df3.assign(sepal_ratio = lambda x: (x['sepal width (cm)'] /
                                        x['sepal length (cm)'])).head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),sepal_ratio
0,5.1,3.5,1.4,0.2,0.686275
1,4.9,3.0,1.4,0.2,0.612245
2,4.7,3.2,1.3,0.2,0.680851
3,4.6,3.1,1.5,0.2,0.673913
4,5.0,3.6,1.4,0.2,0.720000

Lambda's are Python's way of creating anonymous functions. These are the same as other functions, but they have no name. The intent is that they are simple or short lived and it is easier just to write out the function in one line instead of going to the trouble of creating a named function.

### Indexing and Selection

In [167]:
df

   col1  one  bar   flag  foo  one_trunc
a   100  1.0  1.0  False  bar        1.0
b   100  2.0  2.0  False  bar        2.0
c   100  3.0  3.0   True  bar        NaN
d   100  NaN  NaN  False  bar        NaN

- Select column, returns a Series:

In [168]:
df['one']

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

- Row selection, for example, returns a Series whose index is the columns of the DataFrame:

In [179]:
df.loc['b']

col1           100
one              2
bar              2
flag         False
foo            bar
one_trunc        2
Name: b, dtype: object

In [177]:
type(df.loc['b'])

pandas.core.series.Series

- Select row by integer location, returns a Series:

In [182]:
df.iloc[1]

col1           100
one              2
bar              2
flag         False
foo            bar
one_trunc        2
Name: b, dtype: object

In [184]:
type(df.iloc[1])

pandas.core.series.Series

- Indexing with a list of integers:

In [175]:
df.iloc[[1]]

   col1  one  bar   flag  foo  one_trunc
b   100  2.0  2.0  False  bar        2.0

In [176]:
type(df.iloc[[1]])

pandas.core.frame.DataFrame

In [185]:
df.iloc[[0, 1]]

   col1  one  bar   flag  foo  one_trunc
a   100  1.0  1.0  False  bar        1.0
b   100  2.0  2.0  False  bar        2.0

- Indexing with a slice object:

In [186]:
df.iloc[:3]

   col1  one  bar   flag  foo  one_trunc
a   100  1.0  1.0  False  bar        1.0
b   100  2.0  2.0  False  bar        2.0
c   100  3.0  3.0   True  bar        NaN

- Indexing both axes with scalar integers:

In [187]:
df.iloc[0, 1]

1.0

- Indexing both axes with lists of integers:

In [188]:
df.iloc[[0, 2], [1, 3]]

   one   flag
a  1.0  False
c  3.0   True

- Indexing both axes with slice objects.

In [189]:
df.iloc[1:3, 0:3]

   col1  one  bar
b   100  2.0  2.0
c   100  3.0  3.0

## Transposing

In [199]:
# only show the first 5 rows
df[:5].T

               a      b     c      d
col1         100    100   100    100
one            1      2     3    NaN
bar            1      2     3    NaN
flag       False  False  True  False
foo          bar    bar   bar    bar
one_trunc      1      2   NaN    NaN

## Data alignment and arithmetic

In [191]:
df1 = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])

df2 = pd.DataFrame(np.random.randn(7, 3), columns=['A', 'B', 'C'])

df1 + df2

          A         B         C   D
0 -1.390549  0.628345  0.713883 NaN
1  0.385279  2.106001  2.375366 NaN
2  0.839417 -0.590889  0.484840 NaN
3 -0.876838  0.390903  2.565632 NaN
4 -1.775660 -0.671485 -1.187907 NaN
5 -1.387949 -2.298546 -0.047677 NaN
6 -0.136176 -1.129835 -2.087533 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN

## Read and write DataFrame from/to a file

In [ ]:
# read from a csv file
iris_df = pd.read_csv('iris.csv', index=True, sep,',')

# write a dataframe to a csv file
iris_df.to_csv('iris_updated.csv',index=True)

#### More resources

- Introduction to Data Science in Python in Coursera by Chris Brooks
- Python for Data Analysis by Wes McKinney (O’Reilly). Copyright 2017 Wes McKinney, 978-1-491-95766-0.

Thank you all for attending this workshop! Hope this workshop helps you get started.